   .button:link, .button:visited {
    background-color:#1E90FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}


.button:hover, a.button:active {
    background-color: 	#1E90FF;
    
}
