  a.button:link, a.button:visited {
    background-color:#1E90FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.button:hover, a.button:active {
    background-color: 	#1E90FF;
    text-decoration:none;
    
}
