.button:link, .button:visited {
    background-color:#1E90FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.button:hover, .button:active {
    background-color: 	#1E90FF;
    text-decoration:none;
    
}
